<!DOCTYPE html>
<html class="full" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nesterly</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/bootstrap-custom.css" rel="stylesheet">

    <!-- Slider CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.css">
    
    <!-- Map CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css" />

    <!-- JQuery JS Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Bootstrap JS Library -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- JQuery Plugin for Time/Date -->    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <!-- Date Picker CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Nesterly</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html">What is nesterly?</a>
                    </li>
                    <li>
                        <a href="host.html">Become a host</a>
                    </li>
                    <li>
                        <a href="signup.html">Sign up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container">
        <div class="row">

          <!-- Side Bar Columns -->
          <div class="col-md-6 left-side">

            <!--Filters-->
            <div class="container" style="padding: 20px">
              <div class="row">
                Price <b>$0</b> <input id="price" type="text" class="span2" value="" data-slider-min="0" data-slider-max="4000" data-slider-step="50" data-slider-value="[1000,2000]"/> <b>$4000</b>
              </div>
              <div class="row">
                Distance from MIT
                <div class="dropdown" style="display:inline"> 
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Options
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Walking</a></li>
                    <li><a href="#">Biking</a></li>
                    <li><a href="#">Driving</a></li>
                  </ul>
                </div>
                <input id="distance" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/> <b>20 minutes</b>
              </div>
              <div class="row">
                Move in <input type="text" name="moveindate" value="3/20/2017" /> Move out <input type="text" name="moveoutdate" value="8/1/2017" />
              </div>
            </div>

            <!-- Listings -->
            {{#each listings}}
              <div class="col-md-6 img-portfolio">
                  <a href="">
                      <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                  </a>
                  <h3>
                      <a href="">{{title}}</a>
                  </h3>
                  <p>{{descShort}}</p>
              </div>
            {{/each}}

          </div>

      <!--Leaflet Map Columns-->
      <div class="col-md-6 right-side">
      <!-- Our web map and content will go here -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
			<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
			<div id="map" style="width: 100%; height: 800px"></div>
			<script>
		    	// Web map code goes here
		    	var map = L.map('map',{ center: [42.362432, -71.086086], zoom: 14 });

		    	// Add Tile Layer
				L.tileLayer('http://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png').addTo(map);

		    	// // Add google map tiles
		    	// var googleLayer = new L.Google('ROADMAP');
		        //  map.addLayer(googleLayer);

		      	// Add custom home icon
		      	var home_icon = L.icon({
				    iconUrl: '/images/home-icon.png',
				    shadowUrl: '/images/home-shadow.png',

				    iconSize:     [40, 40], // size of the icon
				    shadowSize:   [66, 34], // size of the shadow
				    iconAnchor:   [20, 20], // point of the icon which will correspond to marker's location
				    shadowAnchor: [19, 14],  // the same for the shadow
				    popupAnchor:  [0, -20] // point from which the popup should open relative to the iconAnchor
				});

				// Null variable that will hold our data
				var coffeeShopPoints = null;


				// Add homes to map
				$.getJSON("/listings_geo",function(data){

					coffeeShopPoints = L.geoJson(data,{
						pointToLayer: function (feature, latlng) {
					        return L.marker(latlng, {icon: home_icon});
					    },
					    onEachFeature: function (feature, layer) {
							var popupContent = feature.properties.NUMERO;
							layer.bindPopup(feature.properties.name);
					    }
					}).addTo(map);
				});


					// coffeeShopPoints = L.geoJson(data,{
					// 	onEachFeature: function (feature, layer, latlng) {
					// 		layer.bindPopup(feature.properties.name);				
					// 	}
					// }).addTo(map);

				// Function to remove coffee shops
				function removeCoffeeShops(){
					map.removeLayer(coffeeShopPoints);
				};

				// Function to toggle coffee shops
				function toggleCoffeeShops(){
					if(map.hasLayer(coffeeShopPoints)){
						removeCoffeeShops();
					} else {
						addCoffeeShops();
					}
				};

				// Use $( "elementID") and the jQuery click listener method to add on the add button
				$( "#addButton" ).click(function() {
					addCoffeeShops();
				});

				// Use $( "elementID") and the jQuery click listener method to remove on the remove button
				$( "#removeButton" ).click(function() {
					removeCoffeeShops();
				});

			</script>
          </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script> 
    <script type="text/javascript">
    $(function() {
        $('input[name="moveindate"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true
        }, 
        function(start, end, label) {
        });
        $('input[name="moveoutdate"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true
        }, 
        function(start, end, label) {
        });
    });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.js"></script>
    <script>
      $("#price").slider({});
      $("#distance").slider({
        formatter: function(value) {
          return 'Current value: ' + value;
        }
      });
    </script>

</body>
</html>