{{#each listings}}
  <div class="col-md-6 img-portfolio" id="{{id}}">
	<a href="">
	  <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
	</a>
	<h3>
	  <a href="">{{title}}</a>
	</h3>
	<p>{{descShort}}</p>
  </div>
{{/each}}